<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/sns/index.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>

<div class="header">
	<div class="header-wrap">
		<a href="" class="logo"><b>Strantinium</b></a>
		<div class="nav">
			<ul class="no-ul">
				<li><a href="login">Logout</a></li>
			</ul>	
		</div>
	</div>
</div>

<div id="container">
	<div class="container-wrap">
		 <div class="tabs">
			<ul class="no-ul">
				<li><a href="">BIKES</li>
				<li><a href="">CARS</li>
				<li><a href="">SPORTS</li>
				<li><a href="">COOKING</li>
				<li><a href="">TRAVELLING</li>
			</ul>	
		</div>
<div class="left">
					<div class="content">
				<ul class="posts no-ul">
					
					<li style="background-image: url('/static/sns/bg1.jpg');background-size: cover;background-position: center center">
						<div class="photo">
							<div class="desc">
							 LETS RAVE.
							</div>
							<div class="photo-sub">
								<ul class="no-ul">
									<li><a href="">Upvote</a></li>
									<li><a href="">Share</a></li>
									<li><a href="">Follow</a></li>
									<li><a href="">Tag</a></li>
									<li><a href="market" class="mtp">Market to Print </a></li>
								</ul>
							</div>
						</div>
					</li>

					<li style="background-image: url('/static/sns/bg6.jpg');background-size: cover;background-position: center center">
						<div class="photo">
							<div class="desc">
							 THE BEST COFFE.
							</div>
							<div class="photo-sub">
								<ul class="no-ul">
									<li><a href="">Upvote</a></li>
									<li><a href="">Share</a></li>
									<li><a href="">Unfollow</a></li>
									<li><a href="">Tag</a></li>
									<li><a href="market" class="mtp">Market to Print </a></li>
								</ul>
							</div>
						</div>
					</li>
					<li style="background-image: url('/static/sns/bg5.jpg');background-size: cover;background-position: center center">
						<div class="photo">
							<div class="desc">
							 READY TO RACE
							</div>
							<div class="photo-sub">
								<ul class="no-ul">
									<li><a href="">Upvote</a></li>
									<li><a href="">Share</a></li>
									<li><a href="">Follow</a></li>
									<li><a href="">Tag</a></li>
									<li><a href="market" class="mtp">Market to Print </a></li>
								</ul>
							</div>
						</div>
					</li>	
				</ul>
			</div>
		</div>
		<div class="right">
			<div class="profile">
				<div class="user">
					<div style="width:90px;height:90px;margin: 10px auto;background: #f1f1f1;border-radius: 100px;border: 2px dashed #d9d9d9" class="user-photo">
					</div>
					<h2><a href="profile">Profile</a></h2>
					<a href="#" class="follow">Settings</a>
				</div>
			</div>
<div class="search">
				<label>Looking for something?</label>
				<input type="text"  class="li" name="" placeholder="Search">
				<button type="submit" class="si" name="">Search</button>
				<div class="clearfix"></div>
			</div>

			<div class="trending">
				<h4>Trending</h4>
				<ul class="no-ul">
					<li>
						<div class="img" style="background:url('/static/sns/giphy.gif');">
						</div>
						<div class="content">
							MOST VIEWED
						</div>
					</li>
					<li>
						<div class="img" style="background:url('/static/sns/giphy.gif');background-position: right bottom;"></div>
						<div class="content">
							DISASTERS
						</div>
					</li>
					<li>
						<div class="img" style="background:url('/static/sns/giphy.gif');background-position: left bottom"></div>
						<div class="content">
							NATURE
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>