
<html>






<style>
p{
margin-top: 4cm;
color:red;
}
</style>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/sns/index.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>

<div class="header">
	<div class="header-wrap">
		<a href="" class="logo"><b>Strantinium</b></a>
		<div class="nav">
			<ul class="no-ul">
				<li><a href=login.html>Logout</a></li>
			</ul>	
		</div>
	</div>
</div>



<div id="container">
	<div class="container-wrap">
		 <div class="tabs">
			<ul class="no-ul">
				{% for album in all_albums  %}
				<li><a href=""><span>{{album.Tab}}</span></li>
				{% endfor %}
			</ul>	
		</div>

</body>
</html>